<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="Gmail Suite" annotations="JDK" parallel="tests">

<test name="Login and search">
    <classes>
        <class name="tests.LoginTest_POM"></class>
        <!--<class name="tests.SearchPage"></class>-->
    </classes>
    
</test>

</suite>